.element {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element .div {
  background-color: #ffffff;
  width: 1920px;
  height: 1080px;
  position: relative;
}

.element .navbar {
  position: absolute;
  width: 1920px;
  height: 52px;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #000000;
}

.element .replace {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 14px;
  left: 1672px;
}

.element .round-gala-logo {
  position: absolute;
  width: 43px;
  height: 43px;
  top: 4px;
  left: 8px;
  object-fit: cover;
}

.element .text-wrapper {
  left: 86px;
  position: absolute;
  top: 15px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-2 {
  left: 213px;
  position: absolute;
  top: 15px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-3 {
  left: 370px;
  position: absolute;
  top: 15px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-4 {
  position: absolute;
  top: 15px;
  left: 797px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-5 {
  position: absolute;
  top: 15px;
  left: 980px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-6 {
  position: absolute;
  top: 15px;
  left: 1852px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-7 {
  position: absolute;
  top: 15px;
  left: 1718px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-8 {
  left: 138px;
  position: absolute;
  top: 15px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-9 {
  left: 289px;
  position: absolute;
  top: 15px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-10 {
  position: absolute;
  top: 15px;
  left: 459px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-11 {
  left: 941px;
  position: absolute;
  top: 15px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-12 {
  position: absolute;
  top: 15px;
  left: 1069px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .ellipse {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 21px;
  left: 182px;
  background-color: #23ff00;
  border-radius: 4.5px;
}

.element .ellipse-2 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 21px;
  left: 339px;
  background-color: #23ff00;
  border-radius: 4.5px;
}

.element .ellipse-3 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 21px;
  left: 509px;
  background-color: #23ff00;
  border-radius: 4.5px;
}

.element .line {
  position: absolute;
  width: 1px;
  height: 16px;
  top: 18px;
  left: 200px;
  object-fit: cover;
}

.element .img {
  position: absolute;
  width: 1px;
  height: 16px;
  top: 18px;
  left: 358px;
  object-fit: cover;
}

.element .line-2 {
  position: absolute;
  width: 1px;
  height: 25px;
  top: 16px;
  left: 968px;
  object-fit: cover;
}

.element .line-3 {
  position: absolute;
  width: 1px;
  height: 16px;
  top: 18px;
  left: 1840px;
  object-fit: cover;
}

.element .line-4 {
  position: absolute;
  width: 1px;
  height: 17px;
  top: 18px;
  left: 1710px;
  object-fit: cover;
}

.element .line-5 {
  position: absolute;
  width: 1px;
  height: 17px;
  top: 18px;
  left: 1654px;
  object-fit: cover;
}

.element .line-6 {
  position: absolute;
  width: 1px;
  height: 17px;
  top: 18px;
  left: 1596px;
  object-fit: cover;
}

.element .power {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 14px;
  left: 1614px;
}

.element .total {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 14px;
  left: 1556px;
}

.element .overlap {
  position: absolute;
  width: 971px;
  height: 1028px;
  top: 52px;
  left: 0;
}

.element .overlap-group {
  position: absolute;
  width: 971px;
  height: 1028px;
  top: 0;
  left: 0;
}

.element .text-wrapper-13 {
  position: absolute;
  top: 646px;
  left: 36px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #23ff00;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .imeruli-khachapuri {
  position: absolute;
  top: 696px;
  left: 59px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .garlic-bread-table {
  position: absolute;
  top: 721px;
  left: 59px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .cheese-board-table {
  position: absolute;
  top: 746px;
  left: 59px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .chikhirtma-table {
  position: absolute;
  top: 771px;
  left: 59px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .chikhirtma-table-2 {
  position: absolute;
  top: 796px;
  left: 59px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .line-7 {
  position: absolute;
  width: 272px;
  height: 1px;
  top: 682px;
  left: 36px;
  object-fit: cover;
}

.element .line-8 {
  position: absolute;
  width: 970px;
  height: 1px;
  top: 606px;
  left: 0;
  object-fit: cover;
}

.element .ellipse-4 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 703px;
  left: 39px;
  background-color: #000000;
  border-radius: 3px;
}

.element .ellipse-5 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 728px;
  left: 39px;
  background-color: #000000;
  border-radius: 3px;
}

.element .ellipse-6 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 753px;
  left: 39px;
  background-color: #000000;
  border-radius: 3px;
}

.element .ellipse-7 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 778px;
  left: 39px;
  background-color: #000000;
  border-radius: 3px;
}

.element .ellipse-8 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 803px;
  left: 39px;
  background-color: #000000;
  border-radius: 3px;
}

.element .line-9 {
  position: absolute;
  width: 1px;
  height: 1028px;
  top: 0;
  left: 970px;
  object-fit: cover;
}

.element .rectangle {
  position: absolute;
  width: 970px;
  height: 421px;
  top: 607px;
  left: 0;
  background-color: #000000;
  backdrop-filter: blur(4px) brightness(100%);
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  opacity: 0.9;
}

.element .text-wrapper-14 {
  position: absolute;
  top: 791px;
  left: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-15 {
  top: 31px;
  left: 36px;
  font-weight: 700;
  font-size: 25px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-16 {
  position: absolute;
  top: 96px;
  left: 480px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .p {
  position: absolute;
  top: 295px;
  left: 95px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .line-10 {
  position: absolute;
  width: 418px;
  height: 1px;
  top: 68px;
  left: 36px;
  object-fit: cover;
}

.element .group {
  position: absolute;
  width: 101px;
  height: 30px;
  top: 97px;
  left: 749px;
}

.element .div-wrapper {
  position: relative;
  width: 99px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #313131;
}

.element .text-wrapper-17 {
  position: absolute;
  top: 8px;
  left: 12px;
  opacity: 0.7;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 9px;
  letter-spacing: 0;
  line-height: normal;
}

.element .overlap-wrapper {
  position: absolute;
  width: 109px;
  height: 35px;
  top: 152px;
  left: 480px;
}

.element .overlap-2 {
  position: relative;
  width: 107px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #313131;
}

.element .text-wrapper-18 {
  position: absolute;
  top: 8px;
  left: 14px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .overlap-group-wrapper {
  position: absolute;
  width: 119px;
  height: 35px;
  top: 152px;
  left: 602px;
}

.element .overlap-3 {
  position: relative;
  width: 117px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #313131;
}

.element .text-wrapper-19 {
  position: absolute;
  top: 8px;
  left: 13px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .group-2 {
  position: absolute;
  width: 103px;
  height: 35px;
  top: 152px;
  left: 734px;
}

.element .overlap-4 {
  position: relative;
  width: 101px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #313131;
}

.element .group-3 {
  position: absolute;
  width: 103px;
  height: 35px;
  top: 196px;
  left: 480px;
}

.element .group-4 {
  position: absolute;
  width: 73px;
  height: 35px;
  top: 196px;
  left: 595px;
}

.element .overlap-5 {
  position: relative;
  width: 71px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #313131;
}

.element .group-5 {
  position: absolute;
  width: 109px;
  height: 35px;
  top: 252px;
  left: 480px;
}

.element .overlap-6 {
  position: relative;
  width: 107px;
  height: 35px;
  border-radius: 3px;
  border: 2px solid;
  border-color: #ff0000;
}

.element .text-wrapper-20 {
  position: absolute;
  top: 7px;
  left: 12px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ff0000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .group-6 {
  position: absolute;
  width: 83px;
  height: 27px;
  top: 338px;
  left: 683px;
}

.element .overlap-7 {
  position: relative;
  width: 81px;
  height: 27px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #c80000;
}

.element .text-wrapper-21 {
  position: absolute;
  width: 57px;
  top: 6px;
  left: 13px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 11px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .line-11 {
  position: absolute;
  width: 368px;
  height: 1px;
  top: 135px;
  left: 480px;
  object-fit: cover;
}

.element .text-wrapper-22 {
  position: absolute;
  top: 335px;
  left: 556px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-23 {
  position: absolute;
  top: 335px;
  left: 480px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .line-12 {
  position: absolute;
  width: 2px;
  height: 14px;
  top: 344px;
  left: 659px;
}

.element .line-13 {
  position: absolute;
  width: 269px;
  height: 1px;
  top: 322px;
  left: 480px;
  object-fit: cover;
}

.element .text-wrapper-24 {
  position: absolute;
  top: 83px;
  left: 1020px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .line-14 {
  position: absolute;
  width: 272px;
  height: 1px;
  top: 120px;
  left: 1020px;
  object-fit: cover;
}

.element .overlap-8 {
  position: absolute;
  width: 904px;
  height: 477px;
  top: 144px;
  left: 1015px;
}

.element .group-7 {
  position: absolute;
  width: 466px;
  height: 477px;
  top: 0;
  left: 0;
}

.element .overlap-9 {
  position: relative;
  width: 408px;
  height: 477px;
  border-radius: 18px;
}

.element .ellipse-9 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 34px;
  left: 107px;
  background-color: #0f7200;
  border-radius: 4.5px;
}

.element .rectangle-2 {
  position: absolute;
  width: 408px;
  height: 477px;
  top: 0;
  left: 0;
  border-radius: 18px;
  border: 3px solid;
  border-color: #000000;
}

.element .text-wrapper-25 {
  position: absolute;
  top: 27px;
  left: 32px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-26 {
  position: absolute;
  top: 81px;
  left: 32px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-27 {
  top: 112px;
  left: 32px;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-28 {
  top: 114px;
  left: 221px;
  color: #000000;
  font-size: 10px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-29 {
  top: 134px;
  left: 229px;
  color: #000000;
  font-size: 10px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-30 {
  top: 152px;
  left: 229px;
  color: #000000;
  font-size: 10px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-31 {
  top: 191px;
  left: 223px;
  color: #696969;
  font-size: 8px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-32 {
  top: 203px;
  left: 221px;
  color: #696969;
  font-size: 8px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-33 {
  top: 215px;
  left: 223px;
  color: #696969;
  font-size: 8px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-34 {
  position: absolute;
  top: 115px;
  left: 265px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ff0000;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-35 {
  position: absolute;
  top: 131px;
  left: 32px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-36 {
  position: absolute;
  top: 150px;
  left: 33px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-37 {
  width: 125px;
  top: 189px;
  left: 32px;
  font-weight: 400;
  color: #696969;
  font-size: 10px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-38 {
  position: absolute;
  width: 125px;
  top: 201px;
  left: 32px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #696969;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-39 {
  position: absolute;
  width: 125px;
  top: 213px;
  left: 32px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #696969;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-40 {
  position: absolute;
  top: 447px;
  left: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-41 {
  position: absolute;
  top: 447px;
  left: 152px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-42 {
  top: 447px;
  left: 205px;
  font-weight: 300;
  font-size: 10px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-43 {
  position: absolute;
  top: 423px;
  left: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #0f7200;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-44 {
  position: absolute;
  top: 447px;
  left: 293px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #0f7200;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-45 {
  top: 423px;
  left: 132px;
  font-weight: 300;
  font-size: 10px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-46 {
  position: absolute;
  top: 447px;
  left: 102px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-47 {
  top: 447px;
  left: 186px;
  color: #000000;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-48 {
  top: 447px;
  left: 271px;
  color: #000000;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-49 {
  top: 423px;
  left: 109px;
  color: #0f7200;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-50 {
  top: 447px;
  left: 329px;
  font-weight: 300;
  color: #0f7200;
  font-size: 10px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-51 {
  top: 423px;
  left: 178px;
  color: #000000;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-55 {
  position: absolute;
  top: 81px;
  left: 265px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-53 {
  position: absolute;
  top: 81px;
  left: 208px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .line-15 {
  position: absolute;
  width: 170px;
  height: 1px;
  top: 57px;
  left: 32px;
  object-fit: cover;
}

.element .line-16 {
  position: absolute;
  width: 171px;
  height: 1px;
  top: 102px;
  left: 32px;
  object-fit: cover;
}

.element .line-17 {
  position: absolute;
  width: 91px;
  height: 1px;
  top: 102px;
  left: 258px;
  object-fit: cover;
}

.element .line-18 {
  position: absolute;
  width: 55px;
  height: 1px;
  top: 102px;
  left: 204px;
  object-fit: cover;
}

.element .line-19 {
  position: absolute;
  width: 1px;
  height: 290px;
  top: 81px;
  left: 203px;
  object-fit: cover;
}

.element .line-20 {
  position: absolute;
  width: 1px;
  height: 290px;
  top: 81px;
  left: 258px;
  object-fit: cover;
}

.element .line-21 {
  position: absolute;
  width: 364px;
  height: 1px;
  top: 440px;
  left: 22px;
  object-fit: cover;
}

.element .line-22 {
  position: absolute;
  width: 1px;
  height: 8px;
  top: 450px;
  left: 144px;
  object-fit: cover;
}

.element .line-23 {
  position: absolute;
  width: 1px;
  height: 8px;
  top: 450px;
  left: 284px;
  object-fit: cover;
}

.element .line-24 {
  position: absolute;
  width: 1px;
  height: 8px;
  top: 426px;
  left: 124px;
  object-fit: cover;
}

.element .line-25 {
  position: absolute;
  width: 1px;
  height: 8px;
  top: 450px;
  left: 198px;
  object-fit: cover;
}

.element .line-26 {
  position: absolute;
  width: 134px;
  height: 1px;
  top: 182px;
  left: 32px;
  object-fit: cover;
}

.element .line-27 {
  position: absolute;
  width: 41px;
  height: 1px;
  top: 182px;
  left: 212px;
  object-fit: cover;
}

.element .group-wrapper {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 205px;
  left: 108px;
}

.element .group-8 {
  height: 6px;
}

.element .vector-wrapper {
  position: relative;
  width: 8px;
  height: 8px;
  top: -1px;
  left: -1px;
  border-radius: 1px;
  border: 1px solid;
  border-color: #696969;
}

.element .vector {
  position: absolute;
  width: 5px;
  height: 4px;
  top: 1px;
  left: 1px;
}

.element .group-9 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 217px;
  left: 67px;
}

.element .group-10 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 193px;
  left: 123px;
}

.element .rectangle-3 {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 110px;
  left: 136px;
  border-radius: 1px;
  border: 1px solid;
  border-color: #000000;
}

.element .rectangle-4 {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 130px;
  left: 114px;
  border-radius: 1px;
  border: 1px solid;
  border-color: #000000;
}

.element .rectangle-5 {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 150px;
  left: 177px;
  border-radius: 1px;
  border: 1px solid;
  border-color: #000000;
}

.element .line-28 {
  position: absolute;
  width: 89px;
  height: 1px;
  top: 195px;
  left: 30px;
  object-fit: cover;
}

.element .line-29 {
  position: absolute;
  width: 73px;
  height: 1px;
  top: 207px;
  left: 30px;
  object-fit: cover;
}

.element .line-30 {
  position: absolute;
  width: 32px;
  height: 1px;
  top: 219px;
  left: 30px;
  object-fit: cover;
}

.element .group-11 {
  position: absolute;
  width: 466px;
  height: 477px;
  top: 0;
  left: 438px;
}

/* Lock screen styles */
.element .rectangle-7 {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;
  background-color: #000000cc;
  display: none; /* Initially hidden */
}

.element .lock {
  position: absolute;
  width: 256px;
  height: 256px;
  top: 284px;
  left: 859px;
  display: none; /* Initially hidden */
}

.element .vector-2 {
  position: absolute;
  width: 19px;
  height: 37px;
  top: 646px;
  left: 1209px;
  display: none; /* Initially hidden */
}

.rectangle-8 {
  width: 100%;
  height: 100%;
  background-color: #d9d9d9;
  border-radius: 27px;
  padding-left: 40px; /* Adjusts the padding for placeholder text */
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #919191;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  border: none;
  outline: none;
}

.element .rectangle-8 {
  position: absolute;
  width: 553px;
  height: 145px;
  top: 594px;
  left: 711px;
  background-color: #d9d9d9;
  border-radius: 27px;
  display: none; /* Initially hidden */
}

.input-container {
  display: flex;
  align-items: center;
}

.horizontal-line {
  width: 50px; /* Adjust width as needed */
  height: 1px;
  background-color: black; /* Adjust color as needed */
  margin-left: 10px; /* Adjust spacing as needed */
}

.group, .overlap-wrapper, .overlap-group-wrapper, .group-2, .group-3, .group-4, .group-5, .group-6 {
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.group:hover .div-wrapper,
.overlap-wrapper:hover .overlap-2,
.overlap-group-wrapper:hover .overlap-3,
.group-2:hover .overlap-4,
.group-3:hover .overlap-4,
.group-4:hover .overlap-5 {
  background-color: #f0f0f0; /* Change to desired hover color */
  border-color: #0081f8; /* Change to desired hover border color */
}


.group-5:hover .overlap-6,
.group-6:hover .overlap-7 {
  border-color: #ff0000; /* Change to desired hover border color */
}

.selected-order-details {
  position: absolute;
  top: 90px; /* Same as .p */
  left: 35px; /* Same as .p */
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  display: none; /* Initially hidden */
}

.close-button {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  font-size: 20px;
  font-weight: bold;
  color: #d3d3d3; /* Light grey color for the close button */
  cursor: pointer;
}