.lockscreen .rectangle-7 {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;
  background-color: #000000cc;
}

.lockscreen .lock {
  position: absolute;
  width: 256px;
  height: 256px;
  top: 284px;
  left: 859px;
}

.lockscreen .rectangle-8 {
  position: absolute;
  width: 553px;
  height: 145px;
  top: 594px;
  left: 711px;
  background-color: #d9d9d9;
  border-radius: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lockscreen .input-field {
  width: 90%; /* Adjust width to ensure no overflow */
  height: 60%;
  padding: 10px 20px; /* Adjust padding to prevent overflow */
  font-size: 30px;
  border: none;
  outline: none;
  background: transparent;
  color: #919191;
  font-family: "Inter", Helvetica;
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.lockscreen .line-29 {
  position: absolute;
  width: 43px;
  height: 4px;
  top: 662px;
  left: 1170px;
  cursor: pointer;
}

.lockscreen .vector-2 {
  position: absolute;
  width: 19px;
  height: 37px;
  top: 646px;
  left: 1209px;
  cursor: pointer;
}

.lockscreen .text-wrapper-52 {
  position: absolute;
  top: 647px;
  left: 750px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #919191;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.input-field.error {
  border: 1px solid transparent;
  color: red;
  border-radius: 15px;
}

.input-field.error::placeholder {
  color: red;
}
