.element {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element .overlap-wrapper {
  background-color: #ffffff;
  width: 1920px;
  height: 1080px;
}

.element .overlap {
  position: relative;
  height: 1080px;
}

.element .rectangle {
  position: absolute;
  width: 1920px;
  height: 52px;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #000000;
}

.element .round-gala-logo {
  width: 43px;
  height: 43px;
  top: 5px;
  left: 9px;
  position: absolute;
  object-fit: cover;
}

.element .text-wrapper {
  top: 16px;
  left: 87px;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .div {
  position: absolute;
  top: 83px;
  left: 36px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-2 {
  position: absolute;
  top: 16px;
  left: 214px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-3 {
  position: absolute;
  top: 16px;
  left: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-4 {
  position: absolute;
  top: 16px;
  left: 798px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-5 {
  top: 16px;
  left: 981px;
  font-weight: 400;
  font-size: 15px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-6 {
  top: 16px;
  left: 1853px;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-7 {
  position: absolute;
  top: 16px;
  left: 1719px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-8 {
  top: 16px;
  left: 139px;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-9 {
  left: 290px;
  position: absolute;
  top: 16px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-10 {
  left: 460px;
  position: absolute;
  top: 16px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-11 {
  top: 16px;
  left: 942px;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-12 {
  top: 16px;
  left: 1069px;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .ellipse {
  top: 22px;
  left: 183px;
  background-color: #23ff00;
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 4.5px;
}

.element .ellipse-2 {
  top: 22px;
  left: 340px;
  background-color: #23ff00;
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 4.5px;
}

.element .ellipse-3 {
  top: 22px;
  left: 510px;
  background-color: #23ff00;
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 4.5px;
}

.element .line {
  position: absolute;
  width: 1px;
  height: 16px;
  top: 18px;
  left: 202px;
  object-fit: cover;
}

.element .img {
  position: absolute;
  width: 1px;
  height: 16px;
  top: 18px;
  left: 358px;
  object-fit: cover;
}

.element .line-2 {
  position: absolute;
  width: 1px;
  height: 16px;
  top: 18px;
  left: 970px;
  object-fit: cover;
}

.element .line-3 {
  position: absolute;
  width: 1px;
  height: 16px;
  top: 18px;
  left: 1842px;
  object-fit: cover;
}

.element .line-4 {
  position: absolute;
  width: 1884px;
  height: 1px;
  top: 134px;
  left: 36px;
  object-fit: cover;
}

.element .line-5 {
  position: absolute;
  width: 1px;
  height: 471px;
  top: 289px;
  left: 970px;
  object-fit: cover;
}

.element .group {
  position: absolute;
  width: 466px;
  height: 477px;
  top: 286px;
  left: 52px;
}

.element .overlap-group {
  position: relative;
  width: 408px;
  height: 477px;
  border-radius: 18px;
}

.element .ellipse-4 {
  top: 34px;
  left: 107px;
  background-color: #0f7200;
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 4.5px;
}

.element .rectangle-2 {
  position: absolute;
  width: 408px;
  height: 477px;
  top: 0;
  left: 0;
  border-radius: 18px;
  border: 3px solid;
  border-color: #000000;
}

.element .text-wrapper-13 {
  top: 27px;
  left: 32px;
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-14 {
  top: 81px;
  left: 32px;
  font-weight: 500;
  font-size: 15px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-15 {
  top: 112px;
  left: 32px;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-16 {
  top: 114px;
  left: 221px;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-17 {
  top: 134px;
  left: 229px;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-18 {
  top: 152px;
  left: 229px;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-19 {
  top: 191px;
  left: 223px;
  font-weight: 400;
  color: #696969;
  font-size: 8px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-20 {
  top: 203px;
  left: 221px;
  font-weight: 400;
  color: #696969;
  font-size: 8px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-21 {
  top: 215px;
  left: 223px;
  font-weight: 400;
  color: #696969;
  font-size: 8px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-22 {
  position: absolute;
  top: 115px;
  left: 265px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ff0000;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-23 {
  position: absolute;
  top: 131px;
  left: 32px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-24 {
  position: absolute;
  top: 150px;
  left: 33px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-25 {
  width: 125px;
  top: 189px;
  left: 32px;
  font-weight: 400;
  color: #696969;
  font-size: 10px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-26 {
  position: absolute;
  width: 125px;
  top: 201px;
  left: 32px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #696969;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-27 {
  width: 125px;
  top: 213px;
  left: 32px;
  color: #696969;
  font-size: 10px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-28 {
  position: absolute;
  top: 447px;
  left: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-29 {
  top: 447px;
  left: 152px;
  font-weight: 300;
  font-size: 10px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-30 {
  top: 447px;
  left: 205px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-31 {
  position: absolute;
  top: 423px;
  left: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #0f7200;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-32 {
  top: 447px;
  left: 293px;
  font-weight: 300;
  color: #0f7200;
  font-size: 10px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-33 {
  top: 423px;
  left: 132px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-34 {
  position: absolute;
  top: 447px;
  left: 102px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-35 {
  top: 447px;
  left: 186px;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-36 {
  top: 447px;
  left: 271px;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-37 {
  top: 423px;
  left: 109px;
  font-weight: 300;
  color: #0f7200;
  font-size: 10px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-38 {
  top: 447px;
  left: 329px;
  font-weight: 300;
  color: #0f7200;
  font-size: 10px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-39 {
  top: 423px;
  left: 178px;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-40 {
  position: absolute;
  top: 81px;
  left: 265px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-41 {
  position: absolute;
  top: 81px;
  left: 208px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .line-6 {
  position: absolute;
  width: 170px;
  height: 1px;
  top: 57px;
  left: 32px;
  object-fit: cover;
}

.element .line-7 {
  position: absolute;
  width: 171px;
  height: 1px;
  top: 102px;
  left: 32px;
  object-fit: cover;
}

.element .line-8 {
  position: absolute;
  width: 91px;
  height: 1px;
  top: 102px;
  left: 258px;
  object-fit: cover;
}

.element .line-9 {
  position: absolute;
  width: 55px;
  height: 1px;
  top: 102px;
  left: 204px;
  object-fit: cover;
}

.element .line-10 {
  position: absolute;
  width: 1px;
  height: 290px;
  top: 81px;
  left: 203px;
  object-fit: cover;
}

.element .line-11 {
  position: absolute;
  width: 1px;
  height: 290px;
  top: 81px;
  left: 258px;
  object-fit: cover;
}

.element .line-12 {
  position: absolute;
  width: 364px;
  height: 1px;
  top: 440px;
  left: 22px;
  object-fit: cover;
}

.element .line-13 {
  position: absolute;
  width: 1px;
  height: 8px;
  top: 450px;
  left: 144px;
  object-fit: cover;
}

.element .line-14 {
  position: absolute;
  width: 1px;
  height: 8px;
  top: 450px;
  left: 284px;
  object-fit: cover;
}

.element .line-15 {
  position: absolute;
  width: 1px;
  height: 8px;
  top: 426px;
  left: 124px;
  object-fit: cover;
}

.element .line-16 {
  position: absolute;
  width: 1px;
  height: 8px;
  top: 450px;
  left: 198px;
  object-fit: cover;
}

.element .line-17 {
  position: absolute;
  width: 134px;
  height: 1px;
  top: 182px;
  left: 32px;
  object-fit: cover;
}

.element .line-18 {
  position: absolute;
  width: 41px;
  height: 1px;
  top: 182px;
  left: 212px;
  object-fit: cover;
}

.element .group-wrapper {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 205px;
  left: 108px;
}

.element .overlap-group-wrapper {
  height: 6px;
}

.element .vector-wrapper {
  position: relative;
  width: 8px;
  height: 8px;
  top: -1px;
  left: -1px;
  border-radius: 1px;
  border: 1px solid;
  border-color: #696969;
}

.element .vector {
  position: absolute;
  width: 5px;
  height: 4px;
  top: 1px;
  left: 1px;
}

.element .div-wrapper {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 217px;
  left: 67px;
}

.element .group-2 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 193px;
  left: 123px;
}

.element .rectangle-3 {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 114px;
  left: 136px;
  border-radius: 1px;
  border: 1px solid;
  border-color: #000000;
}

.element .rectangle-4 {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 133px;
  left: 114px;
  border-radius: 1px;
  border: 1px solid;
  border-color: #000000;
}

.element .rectangle-5 {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 152px;
  left: 187px;
  border-radius: 1px;
  border: 1px solid;
  border-color: #000000;
}

.element .line-19 {
  position: absolute;
  width: 89px;
  height: 1px;
  top: 195px;
  left: 30px;
  object-fit: cover;
}

.element .line-20 {
  position: absolute;
  width: 73px;
  height: 1px;
  top: 207px;
  left: 30px;
  object-fit: cover;
}

.element .line-21 {
  position: absolute;
  width: 32px;
  height: 1px;
  top: 219px;
  left: 30px;
  object-fit: cover;
}

.element .text-wrapper-42 {
  position: absolute;
  top: 285px;
  left: 482px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-43 {
  top: 348px;
  left: 482px;
  font-weight: 400;
  font-size: 25px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-44 {
  top: 383px;
  left: 482px;
  font-weight: 400;
  font-size: 25px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-45 {
  position: absolute;
  top: 418px;
  left: 482px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-46 {
  top: 453px;
  left: 482px;
  font-size: 25px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-47 {
  top: 488px;
  left: 482px;
  font-weight: 400;
  font-size: 25px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-48 {
  position: absolute;
  top: 700px;
  left: 482px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-49 {
  position: absolute;
  top: 733px;
  left: 511px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-50 {
  top: 733px;
  left: 596px;
  font-size: 13px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-51 {
  position: absolute;
  top: 733px;
  left: 678px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-52 {
  top: 589px;
  left: 482px;
  font-weight: 400;
  font-size: 20px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-53 {
  top: 618px;
  left: 482px;
  font-size: 20px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-54 {
  top: 655px;
  left: 482px;
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-55 {
  top: 655px;
  left: 544px;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-56 {
  top: 589px;
  left: 591px;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-57 {
  top: 619px;
  left: 566px;
  font-size: 20px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-58 {
  position: absolute;
  top: 488px;
  left: 662px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-59 {
  position: absolute;
  top: 453px;
  left: 672px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-60 {
  top: 348px;
  left: 567px;
  font-weight: 400;
  font-style: italic;
  color: #000000;
  font-size: 25px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-61 {
  top: 383px;
  left: 631px;
  font-weight: 400;
  font-style: italic;
  color: #000000;
  font-size: 25px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-62 {
  position: absolute;
  top: 418px;
  left: 702px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #0f7200;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-63 {
  position: absolute;
  top: 126px;
  left: 724px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .line-22 {
  position: absolute;
  width: 368px;
  height: 1px;
  top: 324px;
  left: 482px;
  object-fit: cover;
}

.element .line-23 {
  position: absolute;
  width: 316px;
  height: 1px;
  top: 576px;
  left: 482px;
  object-fit: cover;
}

.element .rectangle-6 {
  position: absolute;
  width: 72px;
  height: 30px;
  top: 728px;
  left: 482px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #696969;
}

.element .rectangle-7 {
  position: absolute;
  width: 70px;
  height: 30px;
  top: 728px;
  left: 566px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #696969;
}

.element .rectangle-8 {
  position: absolute;
  width: 116px;
  height: 30px;
  top: 728px;
  left: 648px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #696969;
}

.element .money-bill-wave {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 735px;
  left: 488px;
}

.element .credit-card {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 735px;
  left: 573px;
}

.element .hands-bubbles {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 734px;
  left: 655px;
}

.element .rectangle-9 {
  position: absolute;
  width: 390px;
  height: 600px;
  top: 224px;
  left: 1259px;
  background-color: #d9d9d9;
  border: 1px solid;
  border-color: #000000;
}

.element .text-wrapper-64 {
  top: 345px;
  left: 1285px;
  font-weight: 400;
  font-size: 20px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .p {
  position: absolute;
  top: 705px;
  left: 1285px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-65 {
  position: absolute;
  top: 724px;
  left: 1285px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-66 {
  position: absolute;
  width: 160px;
  top: 747px;
  left: 1285px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-67 {
  position: absolute;
  top: 386px;
  left: 1285px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-68 {
  position: absolute;
  top: 409px;
  left: 1285px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-69 {
  top: 432px;
  left: 1285px;
  color: #000000;
  font-size: 15px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-70 {
  width: 113px;
  top: 455px;
  left: 1285px;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-71 {
  position: absolute;
  top: 496px;
  left: 1285px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-72 {
  position: absolute;
  top: 519px;
  left: 1285px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-73 {
  top: 386px;
  left: 1419px;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-74 {
  top: 386px;
  left: 1527px;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-75 {
  top: 409px;
  left: 1418px;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-76 {
  top: 409px;
  left: 1527px;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-77 {
  top: 432px;
  left: 1418px;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-78 {
  top: 432px;
  left: 1527px;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-79 {
  top: 464px;
  left: 1419px;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-80 {
  top: 464px;
  left: 1527px;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-81 {
  top: 496px;
  left: 1419px;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-82 {
  top: 496px;
  left: 1527px;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-83 {
  top: 519px;
  left: 1419px;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-84 {
  top: 519px;
  left: 1527px;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-85 {
  position: absolute;
  top: 345px;
  left: 1410px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-86 {
  top: 345px;
  left: 1523px;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .round-gala-logo-2 {
  width: 56px;
  height: 56px;
  top: 245px;
  left: 1301px;
  position: absolute;
  object-fit: cover;
}

.element .text-wrapper-87 {
  position: absolute;
  top: 260px;
  left: 1377px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .line-24 {
  position: absolute;
  width: 357px;
  height: 1px;
  top: 318px;
  left: 1267px;
}

.element .line-25 {
  position: absolute;
  width: 339px;
  height: 1px;
  top: 376px;
  left: 1285px;
}

.element .line-26 {
  position: absolute;
  width: 1px;
  height: 222px;
  top: 341px;
  left: 1403px;
}

.element .line-27 {
  position: absolute;
  width: 339px;
  height: 1px;
  top: 581px;
  left: 1285px;
}

.element .line-28 {
  position: absolute;
  width: 339px;
  height: 1px;
  top: 683px;
  left: 1285px;
}

.element .line-29 {
  position: absolute;
  width: 1px;
  height: 222px;
  top: 341px;
  left: 1512px;
}

.element .text-wrapper-88 {
  position: absolute;
  top: 594px;
  left: 1285px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-89 {
  position: absolute;
  top: 594px;
  left: 1565px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-90 {
  position: absolute;
  top: 620px;
  left: 1605px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-91 {
  top: 647px;
  left: 1595px;
  font-weight: 400;
  font-size: 7px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-92 {
  top: 604px;
  left: 1608px;
  font-size: 7px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-93 {
  position: absolute;
  top: 631px;
  left: 1559px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-94 {
  position: absolute;
  top: 658px;
  left: 1612px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-95 {
  top: 617px;
  left: 1285px;
  font-size: 15px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-96 {
  top: 646px;
  left: 1285px;
  font-weight: 600;
  font-size: 15px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-97 {
  top: 646px;
  left: 1333px;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-98 {
  top: 594px;
  left: 1368px;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-99 {
  top: 617px;
  left: 1351px;
  font-size: 15px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .google-review-QR {
  position: absolute;
  width: 73px;
  height: 73px;
  top: 713px;
  left: 1545px;
  object-fit: cover;
}

.element .rectangle-10 {
  position: absolute;
  width: 1920px;
  height: 1030px;
  top: 50px;
  left: 0;
  background-color: #00000099;
}

.element .rectangle-11 {
  position: absolute;
  width: 636px;
  height: 360px;
  top: 341px;
  left: 631px;
  background-color: #d9d9d9;
  border-radius: 20px;
}

.element .text-wrapper-100 {
  position: absolute;
  top: 383px;
  left: 666px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #960000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-101 {
  position: absolute;
  width: 578px;
  top: 424px;
  left: 666px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.element .rectangle-12 {
  position: absolute;
  width: 316px;
  height: 92px;
  top: 526px;
  left: 666px;
  background-color: #ffffff;
  border-radius: 8px;
}

.element .rectangle-13 {
  position: absolute;
  width: 94px;
  height: 92px;
  top: 526px;
  left: 998px;
  border-radius: 8px;
  border: 4px solid;
  border-color: #860606;
}

.element .text-wrapper-102 {
  position: absolute;
  top: 559px;
  left: 691px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #575757;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .line-30 {
  position: absolute;
  width: 43px;
  height: 4px;
  top: 570px;
  left: 1015px;
}

.element .vector-2 {
  position: absolute;
  width: 19px;
  height: 37px;
  top: 553px;
  left: 1054px;
}
