
.table .rectangle-4 {
  position: absolute;
  width: 1920px;
  height: 1028px;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.5;
}

.table .rectangle-5 {
  position: absolute;
  width: 1644px;
  height: 908px;
  top: 47px;
  left: 148px;
  background-color: #f1f1f1;
  border-radius: 16px;
}

.table .text-wrapper-81 {
  position: absolute;
  top: 73px;
  left: 182px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.table .text-wrapper-82 {
  position: absolute;
  top: 159px;
  left: 182px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.table .line-33 {
  position: absolute;
  width: 418px;
  height: 1px;
  top: 110px;
  left: 182px;
  object-fit: cover;
}

.table .rectangle-6 {
  position: absolute;
  width: 1563px;
  height: 659px;
  top: 195px;
  left: 185px;
  background-color: #d9d9d9;
  border-radius: 9px;
}

.table .rectangle-7 {
  position: absolute;
  width: 322px;
  height: 82px;
  top: 221px;
  left: 216px;
  background-color: #787878;
}

.table .rectangle-8 {
  position: absolute;
  width: 223px;
  height: 82px;
  top: 739px;
  left: 221px;
  background-color: #787878;
}

.table .rectangle-9 {
  position: absolute;
  width: 223px;
  height: 82px;
  top: 739px;
  left: 480px;
  background-color: #787878;
}

.table .rectangle-10 {
  position: absolute;
  width: 268px;
  height: 82px;
  top: 221px;
  left: 670px;
  background-color: #787878;
}

.table .rectangle-11 {
  position: absolute;
  width: 269px;
  height: 82px;
  top: 222px;
  left: 993px;
  background-color: #787878;
}

.table .rectangle-12 {
  position: absolute;
  width: 82px;
  height: 82px;
  top: 571px;
  left: 401px;
  background-color: #787878;
}

.table .rectangle-13 {
  position: absolute;
  width: 82px;
  height: 82px;
  top: 571px;
  left: 511px;
  background-color: #787878;
}

.table .rectangle-14 {
  position: absolute;
  width: 82px;
  height: 82px;
  top: 737px;
  left: 830px;
  background-color: #787878;
}

.table .rectangle-15 {
  position: absolute;
  width: 82px;
  height: 82px;
  top: 737px;
  left: 1613px;
  background-color: #787878;
}

.table .rectangle-16 {
  position: absolute;
  width: 82px;
  height: 82px;
  top: 571px;
  left: 621px;
  background-color: #787878;
}

.table .rectangle-17 {
  position: absolute;
  width: 82px;
  height: 82px;
  top: 737px;
  left: 980px;
  background-color: #787878;
}

.table .rectangle-18 {
  position: absolute;
  width: 82px;
  height: 141px;
  top: 512px;
  left: 830px;
  background-color: #787878;
}

.table .rectangle-19 {
  position: absolute;
  width: 82px;
  height: 141px;
  top: 512px;
  left: 980px;
  background-color: #787878;
}

.table .rectangle-20 {
  position: absolute;
  width: 82px;
  height: 141px;
  top: 512px;
  left: 1130px;
  background-color: #787878;
}

.table .rectangle-21 {
  position: absolute;
  width: 82px;
  height: 141px;
  top: 512px;
  left: 1270px;
  background-color: #787878;
}

.table .rectangle-22 {
  position: absolute;
  width: 99px;
  height: 82px;
  top: 224px;
  left: 1613px;
  background-color: #787878;
}

.table .rectangle-23 {
  position: absolute;
  width: 164px;
  height: 82px;
  top: 222px;
  left: 1358px;
  background-color: #787878;
}

.table .text-wrapper-83 {
  top: 768px;
  left: 319px;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.table .text-wrapper-84 {
  top: 600px;
  left: 432px;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.table .text-wrapper-85 {
  top: 765px;
  left: 581px;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.table .text-wrapper-86 {
  top: 599px;
  left: 540px;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.table .text-wrapper-87 {
  top: 599px;
  left: 650px;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.table .text-wrapper-88 {
  top: 248px;
  left: 794px;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.table .text-wrapper-89 {
  top: 570px;
  left: 864px;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.table .text-wrapper-90 {
  top: 765px;
  left: 864px;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.table .text-wrapper-91 {
  top: 570px;
  left: 1014px;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.table .text-wrapper-92 {
  top: 765px;
  left: 1015px;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.table .text-wrapper-93 {
  top: 567px;
  left: 1167px;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.table .text-wrapper-94 {
  top: 567px;
  left: 1307px;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.table .text-wrapper-95 {
  top: 248px;
  left: 1119px;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.table .text-wrapper-96 {
  top: 249px;
  left: 1437px;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.table .text-wrapper-97 {
  top: 764px;
  left: 1650px;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.table .text-wrapper-98 {
  top: 250px;
  left: 1656px;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.table .text-wrapper-99 {
  top: 248px;
  left: 365px;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.table .rectangle-24 {
  position: absolute;
  width: 175px;
  height: 42px;
  top: 875px;
  left: 189px;
  background-color: #d9d9d9;
  border-radius: 3px;
}

.table .rectangle-25 {
  position: absolute;
  width: 175px;
  height: 42px;
  top: 875px;
  left: 377px;
  background-color: #d9d9d9;
  border-radius: 3px;
}

.table .users {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 884px;
  left: 198px;
}

.table .text-wrapper-100 {
  top: 886px;
  left: 231px;
  font-weight: 500;
  color: #787878;
  font-size: 15px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.table .text-wrapper-101 {
  position: absolute;
  top: 886px;
  left: 419px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #787878;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.table .id-badge {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 884px;
  left: 386px;
}

.table .group-11 {
  position: absolute;
  width: 133px;
  height: 53px;
  top: 879px;
  left: 1614px;
}

.table .overlap-10 {
  position: relative;
  width: 131px;
  height: 53px;
  background-color: #0093ff;
  border-radius: 8px;
}

.table .text-wrapper-102 {
  position: absolute;
  top: 16px;
  left: 27px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

