.element {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element .overlap-wrapper {
  background-color: #ffffff;
  overflow: hidden;
  width: 1920px;
  height: 1080px;
}

.element .overlap {
  position: relative;
  width: 1948px;
  height: 1135px;
  left: -2px;
}

.element .rectangle {
  position: absolute;
  width: 1920px;
  height: 52px;
  top: 0;
  left: 2px;
  background-color: #d9d9d9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #000000;
}

.element .round-gala-logo {
  position: absolute;
  width: 43px;
  height: 43px;
  top: 5px;
  left: 11px;
  object-fit: cover;
}

.element .text-wrapper {
  top: 16px;
  left: 89px;
  font-weight: 400;
  font-size: 15px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .div {
  position: absolute;
  top: 698px;
  left: 38px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #23ff00;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-2 {
  top: 83px;
  left: 38px;
  font-weight: 700;
  font-size: 25px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-3 {
  position: absolute;
  top: 148px;
  left: 482px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-4 {
  position: absolute;
  top: 83px;
  left: 1041px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-5 {
  position: absolute;
  top: 16px;
  left: 216px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-6 {
  position: absolute;
  top: 16px;
  left: 373px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-7 {
  position: absolute;
  top: 16px;
  left: 800px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-8 {
  top: 16px;
  left: 983px;
  font-size: 15px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-9 {
  top: 16px;
  left: 1855px;
  font-size: 15px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-10 {
  position: absolute;
  top: 16px;
  left: 1721px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-11 {
  top: 16px;
  left: 141px;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-12 {
  left: 292px;
  position: absolute;
  top: 16px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-13 {
  left: 462px;
  position: absolute;
  top: 16px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-14 {
  top: 16px;
  left: 944px;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-15 {
  top: 16px;
  left: 1071px;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .ellipse {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 22px;
  left: 185px;
  background-color: #23ff00;
  border-radius: 4.5px;
}

.element .ellipse-2 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 22px;
  left: 342px;
  background-color: #23ff00;
  border-radius: 4.5px;
}

.element .ellipse-3 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 22px;
  left: 512px;
  background-color: #23ff00;
  border-radius: 4.5px;
}

.element .line {
  position: absolute;
  width: 1px;
  height: 16px;
  top: 18px;
  left: 204px;
  object-fit: cover;
}

.element .img {
  position: absolute;
  width: 1px;
  height: 16px;
  top: 18px;
  left: 360px;
  object-fit: cover;
}

.element .line-2 {
  position: absolute;
  width: 1px;
  height: 16px;
  top: 18px;
  left: 972px;
  object-fit: cover;
}

.element .line-3 {
  position: absolute;
  width: 1px;
  height: 16px;
  top: 18px;
  left: 1844px;
  object-fit: cover;
}

.element .group {
  position: absolute;
  width: 462px;
  height: 483px;
  top: 146px;
  left: 1486px;
}

.element .overlap-group {
  position: relative;
  width: 408px;
  height: 483px;
  border-radius: 18px;
}

.element .ellipse-4 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 27px;
  left: 99px;
  background-color: #ffd600;
  border-radius: 4.5px;
}

.element .rectangle-2 {
  position: absolute;
  width: 408px;
  height: 483px;
  top: 0;
  left: 0;
  border-radius: 18px;
  border: 2px solid;
  border-color: #000000;
}

.element .text-wrapper-16 {
  position: absolute;
  top: 20px;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-17 {
  position: absolute;
  top: 74px;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-18 {
  position: absolute;
  width: 125px;
  top: 105px;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-19 {
  top: 105px;
  left: 162px;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-20 {
  top: 124px;
  left: 162px;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-21 {
  top: 143px;
  left: 162px;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-22 {
  top: 162px;
  left: 162px;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-23 {
  position: absolute;
  width: 125px;
  top: 124px;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-24 {
  position: absolute;
  width: 125px;
  top: 143px;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-25 {
  position: absolute;
  width: 125px;
  top: 162px;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-26 {
  position: absolute;
  top: 240px;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #575757;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-27 {
  top: 251px;
  position: absolute;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #575757;
  font-size: 5px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-28 {
  position: absolute;
  top: 251px;
  left: 37px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #575757;
  font-size: 5px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-29 {
  position: absolute;
  top: 450px;
  left: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-30 {
  position: absolute;
  top: 450px;
  left: 154px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-31 {
  top: 450px;
  left: 207px;
  font-weight: 300;
  font-size: 10px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-32 {
  top: 426px;
  left: 23px;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-33 {
  top: 450px;
  left: 295px;
  font-weight: 300;
  font-size: 10px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-34 {
  top: 426px;
  left: 133px;
  font-weight: 300;
  font-size: 10px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-35 {
  position: absolute;
  top: 450px;
  left: 103px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #ffd600;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-36 {
  top: 450px;
  left: 188px;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-37 {
  top: 450px;
  left: 273px;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-38 {
  top: 426px;
  left: 110px;
  font-weight: 300;
  color: #ffd600;
  font-size: 10px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-39 {
  position: absolute;
  top: 450px;
  left: 331px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #ffd600;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-40 {
  top: 426px;
  left: 179px;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-41 {
  font-weight: 400;
  position: absolute;
  top: 74px;
  left: 162px;
  font-family: "Inter", Helvetica;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-42 {
  position: absolute;
  top: 74px;
  left: 264px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .line-4 {
  position: absolute;
  width: 170px;
  height: 1px;
  top: 50px;
  left: 21px;
  object-fit: cover;
}

.element .line-5 {
  position: absolute;
  width: 134px;
  height: 1px;
  top: 95px;
  left: 21px;
  object-fit: cover;
}

.element .line-6 {
  position: absolute;
  width: 102px;
  height: 1px;
  top: 95px;
  left: 155px;
  object-fit: cover;
}

.element .line-7 {
  position: absolute;
  width: 102px;
  height: 1px;
  top: 95px;
  left: 257px;
  object-fit: cover;
}

.element .line-8 {
  position: absolute;
  width: 1px;
  height: 193px;
  top: 74px;
  left: 155px;
  object-fit: cover;
}

.element .line-9 {
  position: absolute;
  width: 1px;
  height: 193px;
  top: 74px;
  left: 257px;
  object-fit: cover;
}

.element .line-10 {
  position: absolute;
  width: 364px;
  height: 1px;
  top: 444px;
  left: 24px;
  object-fit: cover;
}

.element .line-11 {
  position: absolute;
  width: 1px;
  height: 8px;
  top: 452px;
  left: 146px;
  object-fit: cover;
}

.element .line-12 {
  position: absolute;
  width: 1px;
  height: 8px;
  top: 452px;
  left: 286px;
  object-fit: cover;
}

.element .line-13 {
  position: absolute;
  width: 1px;
  height: 8px;
  top: 428px;
  left: 124px;
  object-fit: cover;
}

.element .line-14 {
  position: absolute;
  width: 1px;
  height: 8px;
  top: 452px;
  left: 200px;
  object-fit: cover;
}

.element .line-15 {
  position: absolute;
  width: 130px;
  height: 1px;
  top: 236px;
  left: 20px;
  object-fit: cover;
}

.element .group-2 {
  position: absolute;
  width: 468px;
  height: 483px;
  top: 652px;
  left: 1041px;
}

.element .overlap-2 {
  position: absolute;
  width: 408px;
  height: 483px;
  top: 0;
  left: 0;
  border-radius: 18px;
}

.element .ellipse-5 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 27px;
  left: 98px;
  background-color: #ff0000;
  border-radius: 4.5px;
}

.element .text-wrapper-43 {
  top: 180px;
  left: 162px;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-44 {
  top: 199px;
  left: 162px;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-45 {
  position: absolute;
  width: 125px;
  top: 180px;
  left: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-46 {
  position: absolute;
  width: 125px;
  top: 199px;
  left: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-47 {
  position: absolute;
  top: 251px;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ff0000;
  font-size: 5px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-48 {
  position: absolute;
  top: 450px;
  left: 102px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #ff0000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-49 {
  top: 426px;
  left: 110px;
  font-weight: 300;
  color: #ff0000;
  font-size: 10px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-50 {
  position: absolute;
  top: 450px;
  left: 331px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #ff0000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .line-16 {
  position: absolute;
  width: 363px;
  height: 1px;
  top: -13444px;
  left: 5962px;
  object-fit: cover;
}

.element .line-17 {
  position: absolute;
  width: 7px;
  height: 1px;
  top: -13435px;
  left: 6085px;
  object-fit: cover;
}

.element .line-18 {
  position: absolute;
  width: 7px;
  height: 1px;
  top: -13435px;
  left: 6225px;
  object-fit: cover;
}

.element .line-19 {
  position: absolute;
  width: 7px;
  height: 1px;
  top: -13459px;
  left: 6063px;
  object-fit: cover;
}

.element .line-20 {
  position: absolute;
  width: 7px;
  height: 1px;
  top: -13435px;
  left: 6139px;
  object-fit: cover;
}

.element .overlap-group-wrapper {
  position: absolute;
  width: 486px;
  height: 477px;
  top: 146px;
  left: 1038px;
}

.element .overlap-3 {
  position: relative;
  width: 408px;
  height: 477px;
  border-radius: 18px;
}

.element .ellipse-6 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 27px;
  left: 96px;
  background-color: #23ff00;
  border-radius: 4.5px;
}

.element .rectangle-3 {
  position: absolute;
  width: 408px;
  height: 477px;
  top: 0;
  left: 0;
  border-radius: 18px;
  border: 4px solid;
  border-color: #0081f8;
}

.element .text-wrapper-51 {
  top: 181px;
  left: 162px;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-52 {
  top: 200px;
  left: 162px;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-53 {
  top: 219px;
  left: 162px;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-54 {
  top: 246px;
  left: 162px;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-55 {
  position: absolute;
  top: 246px;
  left: 264px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-56 {
  position: absolute;
  width: 125px;
  top: 181px;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-57 {
  position: absolute;
  width: 125px;
  top: 200px;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-58 {
  position: absolute;
  width: 125px;
  top: 219px;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-59 {
  position: absolute;
  width: 125px;
  top: 238px;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-60 {
  top: 339px;
  left: 21px;
  font-weight: 400;
  color: #575757;
  font-size: 7px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-61 {
  top: 350px;
  position: absolute;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #575757;
  font-size: 5px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-62 {
  position: absolute;
  top: 350px;
  left: 37px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #575757;
  font-size: 5px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-63 {
  position: absolute;
  top: 350px;
  left: 73px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #575757;
  font-size: 5px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-64 {
  position: absolute;
  top: 350px;
  left: 100px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #575757;
  font-size: 5px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-65 {
  position: absolute;
  top: 357px;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #575757;
  font-size: 5px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-66 {
  top: 426px;
  left: 24px;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-67 {
  position: absolute;
  top: 426px;
  left: 134px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-68 {
  position: absolute;
  top: 450px;
  left: 104px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #23ff00;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-69 {
  top: 426px;
  left: 111px;
  font-weight: 300;
  color: #05ff00;
  font-size: 10px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-70 {
  top: 450px;
  left: 331px;
  font-weight: 300;
  color: #23ff00;
  font-size: 10px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-71 {
  top: 426px;
  left: 180px;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-72 {
  font-weight: 500;
  position: absolute;
  top: 74px;
  left: 162px;
  font-family: "Inter", Helvetica;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .line-21 {
  position: absolute;
  width: 1px;
  height: 290px;
  top: 74px;
  left: 155px;
  object-fit: cover;
}

.element .line-22 {
  position: absolute;
  width: 1px;
  height: 290px;
  top: 74px;
  left: 257px;
  object-fit: cover;
}

.element .line-23 {
  position: absolute;
  width: 1px;
  height: 8px;
  top: 428px;
  left: 126px;
  object-fit: cover;
}

.element .line-24 {
  position: absolute;
  width: 130px;
  height: 1px;
  top: 334px;
  left: 20px;
  object-fit: cover;
}

.element .imeruli-khachapuri {
  position: absolute;
  top: 748px;
  left: 61px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .garlic-bread-table {
  position: absolute;
  top: 773px;
  left: 61px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .cheese-board-table {
  position: absolute;
  top: 798px;
  left: 61px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .chikhirtma-table {
  position: absolute;
  top: 823px;
  left: 61px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .chikhirtma-table-2 {
  position: absolute;
  top: 848px;
  left: 61px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .line-25 {
  position: absolute;
  width: 272px;
  height: 1px;
  top: 734px;
  left: 38px;
  object-fit: cover;
}

.element .line-26 {
  position: absolute;
  width: 418px;
  height: 1px;
  top: 120px;
  left: 38px;
  object-fit: cover;
}

.element .line-27 {
  position: absolute;
  width: 889px;
  height: 1px;
  top: 672px;
  left: 38px;
  object-fit: cover;
}

.element .line-28 {
  position: absolute;
  width: 272px;
  height: 1px;
  top: 120px;
  left: 1040px;
  object-fit: cover;
}

.element .ellipse-7 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 755px;
  left: 41px;
  background-color: #000000;
  border-radius: 3px;
}

.element .ellipse-8 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 780px;
  left: 41px;
  background-color: #000000;
  border-radius: 3px;
}

.element .ellipse-9 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 805px;
  left: 41px;
  background-color: #000000;
  border-radius: 3px;
}

.element .ellipse-10 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 830px;
  left: 41px;
  background-color: #000000;
  border-radius: 3px;
}

.element .ellipse-11 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 855px;
  left: 41px;
  background-color: #000000;
  border-radius: 3px;
}

.element .div-wrapper {
  position: absolute;
  width: 101px;
  height: 30px;
  top: 149px;
  left: 751px;
}

.element .overlap-4 {
  position: relative;
  width: 99px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #313131;
}

.element .text-wrapper-73 {
  position: absolute;
  top: 8px;
  left: 12px;
  opacity: 0.7;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 9px;
  letter-spacing: 0;
  line-height: normal;
}

.element .group-3 {
  position: absolute;
  width: 109px;
  height: 35px;
  top: 204px;
  left: 482px;
}

.element .overlap-5 {
  position: relative;
  width: 107px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #313131;
}

.element .text-wrapper-74 {
  position: absolute;
  top: 8px;
  left: 14px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .group-4 {
  position: absolute;
  width: 119px;
  height: 35px;
  top: 204px;
  left: 604px;
}

.element .overlap-6 {
  position: relative;
  width: 117px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #313131;
}

.element .text-wrapper-75 {
  position: absolute;
  top: 8px;
  left: 13px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .group-5 {
  position: absolute;
  width: 103px;
  height: 35px;
  top: 204px;
  left: 736px;
}

.element .overlap-7 {
  position: relative;
  width: 101px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #313131;
}

.element .group-6 {
  position: absolute;
  width: 103px;
  height: 35px;
  top: 294px;
  left: 482px;
}

.element .group-7 {
  position: absolute;
  width: 154px;
  height: 35px;
  top: 249px;
  left: 482px;
}

.element .overlap-8 {
  position: relative;
  width: 152px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #313131;
}

.element .group-8 {
  position: absolute;
  width: 124px;
  height: 35px;
  top: 249px;
  left: 645px;
}

.element .overlap-9 {
  position: relative;
  width: 122px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #313131;
}

.element .group-9 {
  position: absolute;
  width: 83px;
  height: 27px;
  top: 390px;
  left: 685px;
}

.element .overlap-10 {
  position: relative;
  width: 81px;
  height: 27px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #c80000;
}

.element .text-wrapper-76 {
  position: absolute;
  width: 57px;
  top: 6px;
  left: 13px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 11px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .line-29 {
  position: absolute;
  width: 368px;
  height: 1px;
  top: 187px;
  left: 482px;
  object-fit: cover;
}

.element .text-wrapper-77 {
  top: 387px;
  left: 558px;
  font-size: 25px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-78 {
  top: 387px;
  left: 482px;
  font-size: 25px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .line-30 {
  position: absolute;
  width: 2px;
  height: 14px;
  top: 396px;
  left: 661px;
}

.element .line-31 {
  position: absolute;
  width: 269px;
  height: 1px;
  top: 374px;
  left: 482px;
  object-fit: cover;
}

.element .line-32 {
  position: absolute;
  width: 1px;
  height: 983px;
  top: 81px;
  left: 972px;
  object-fit: cover;
}

.element .group-10 {
  position: absolute;
  width: 486px;
  height: 477px;
  top: 143px;
  left: 38px;
}

.element .rectangle-4 {
  position: absolute;
  width: 408px;
  height: 477px;
  top: 0;
  left: 0;
  border-radius: 18px;
  border: 2px solid;
  border-color: #000000;
}

.element .text-wrapper-79 {
  position: absolute;
  top: 162px;
  left: 411px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #d9d9d9;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .rectangle-5 {
  position: absolute;
  width: 1921px;
  height: 1030px;
  top: 50px;
  left: 0;
  background-color: #000000;
  opacity: 0.5;
}

.element .rectangle-6 {
  position: absolute;
  width: 1644px;
  height: 908px;
  top: 99px;
  left: 150px;
  background-color: #f1f1f1;
  border-radius: 16px;
}

.element .text-wrapper-80 {
  position: absolute;
  top: 140px;
  left: 184px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .line-33 {
  position: absolute;
  width: 418px;
  height: 1px;
  top: 182px;
  left: 184px;
  object-fit: cover;
}

.element .rectangle-7 {
  position: absolute;
  width: 1563px;
  height: 659px;
  top: 235px;
  left: 184px;
  background-color: #d9d9d9;
  border-radius: 9px;
}

.element .rectangle-8 {
  position: absolute;
  width: 463px;
  height: 582px;
  top: 272px;
  left: 207px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: inset 1px 1px 4px #00000040;
}

.element .group-11 {
  position: absolute;
  width: 133px;
  height: 53px;
  top: 920px;
  left: 1619px;
}

.element .overlap-11 {
  position: relative;
  width: 131px;
  height: 53px;
  background-color: #0093ff;
  border-radius: 8px;
}

.element .text-wrapper-81 {
  position: absolute;
  top: 16px;
  left: 27px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.element .salad-green-salad {
  position: absolute;
  top: 353px;
  left: 259px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 33px;
}

.element .text-wrapper-82 {
  top: 299px;
  left: 236px;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .line-34 {
  position: absolute;
  width: 229px;
  height: 1px;
  top: 331px;
  left: 236px;
  object-fit: cover;
}

.element .group-12 {
  position: absolute;
  width: 8px;
  height: 11px;
  top: 365px;
  left: 240px;
}

.element .group-13 {
  position: absolute;
  width: 8px;
  height: 11px;
  top: 399px;
  left: 240px;
}

.element .group-14 {
  position: absolute;
  width: 8px;
  height: 11px;
  top: 431px;
  left: 240px;
}

.element .group-15 {
  position: absolute;
  width: 8px;
  height: 11px;
  top: 464px;
  left: 240px;
}

.element .group-16 {
  position: absolute;
  width: 8px;
  height: 11px;
  top: 497px;
  left: 240px;
}

.element .group-17 {
  position: absolute;
  width: 8px;
  height: 11px;
  top: 530px;
  left: 240px;
}

.element .group-18 {
  position: absolute;
  width: 17px;
  height: 18px;
  top: 302px;
  left: 624px;
}
