.element {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1920px;
  height: 1080px;
  position: relative;
}

.element .navbar {
  position: absolute;
  width: 1920px;
  height: 52px;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #000000;
}

.element .round-gala-logo {
  position: absolute;
  width: 43px;
  height: 43px;
  top: 4px;
  left: 8px;
  object-fit: cover;
}

.element .text-wrapper {
  left: 86px;
  position: absolute;
  top: 15px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-2 {
  left: 213px;
  position: absolute;
  top: 15px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-3 {
  left: 370px;
  position: absolute;
  top: 15px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-4 {
  position: absolute;
  top: 15px;
  left: 797px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-5 {
  position: absolute;
  top: 15px;
  left: 980px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-6 {
  position: absolute;
  top: 15px;
  left: 1852px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-7 {
  position: absolute;
  top: 15px;
  left: 1718px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-8 {
  left: 138px;
  position: absolute;
  top: 15px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-9 {
  left: 289px;
  position: absolute;
  top: 15px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-10 {
  position: absolute;
  top: 15px;
  left: 459px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-11 {
  left: 941px;
  position: absolute;
  top: 15px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-12 {
  position: absolute;
  top: 15px;
  left: 1068px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .ellipse {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 21px;
  left: 182px;
  background-color: #23ff00;
  border-radius: 4.5px;
}

.element .ellipse-2 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 21px;
  left: 339px;
  background-color: #23ff00;
  border-radius: 4.5px;
}

.element .ellipse-3 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 21px;
  left: 509px;
  background-color: #23ff00;
  border-radius: 4.5px;
}

.element .line {
  position: absolute;
  width: 1px;
  height: 16px;
  top: 18px;
  left: 200px;
  object-fit: cover;
}

.element .img {
  position: absolute;
  width: 1px;
  height: 16px;
  top: 18px;
  left: 358px;
  object-fit: cover;
}

.element .line-2 {
  position: absolute;
  width: 1px;
  height: 16px;
  top: 18px;
  left: 968px;
  object-fit: cover;
}

.element .line-3 {
  position: absolute;
  width: 1px;
  height: 16px;
  top: 18px;
  left: 1840px;
  object-fit: cover;
}

.element .overlap {
  position: absolute;
  width: 1947px;
  height: 1083px;
  top: 52px;
  left: -1px;
}

.element .text-wrapper-13 {
  position: absolute;
  top: 646px;
  left: 37px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #23ff00;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-14 {
  top: 31px;
  left: 37px;
  font-weight: 700;
  font-size: 25px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-15 {
  position: absolute;
  top: 96px;
  left: 481px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-16 {
  position: absolute;
  top: 31px;
  left: 1040px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .group {
  position: absolute;
  width: 462px;
  height: 483px;
  top: 94px;
  left: 1485px;
}

.element .overlap-group {
  position: relative;
  width: 408px;
  height: 483px;
  border-radius: 18px;
}

.element .ellipse-4 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 27px;
  left: 99px;
  background-color: #ffd600;
  border-radius: 4.5px;
}

.element .rectangle {
  position: absolute;
  width: 408px;
  height: 483px;
  top: 0;
  left: 0;
  border-radius: 18px;
  border: 2px solid;
  border-color: #000000;
}

.element .text-wrapper-17 {
  position: absolute;
  top: 20px;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-18 {
  position: absolute;
  top: 74px;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-19 {
  position: absolute;
  width: 125px;
  top: 105px;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-20 {
  top: 105px;
  left: 162px;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-21 {
  top: 124px;
  left: 162px;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-22 {
  top: 143px;
  left: 162px;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-23 {
  top: 162px;
  left: 162px;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-24 {
  position: absolute;
  width: 125px;
  top: 124px;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-25 {
  position: absolute;
  width: 125px;
  top: 143px;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-26 {
  position: absolute;
  width: 125px;
  top: 162px;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-27 {
  position: absolute;
  top: 240px;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #575757;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-28 {
  top: 251px;
  left: 21px;
  font-weight: 400;
  color: #575757;
  font-size: 5px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-29 {
  position: absolute;
  top: 251px;
  left: 37px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #575757;
  font-size: 5px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-30 {
  position: absolute;
  top: 450px;
  left: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-31 {
  top: 450px;
  left: 154px;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-32 {
  top: 450px;
  left: 207px;
  font-weight: 300;
  font-size: 10px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-33 {
  top: 426px;
  left: 23px;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-34 {
  position: absolute;
  top: 450px;
  left: 295px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-35 {
  top: 426px;
  left: 133px;
  font-weight: 300;
  font-size: 10px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-36 {
  position: absolute;
  top: 450px;
  left: 103px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #ffd600;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-37 {
  top: 450px;
  left: 188px;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-38 {
  top: 450px;
  left: 273px;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-39 {
  top: 426px;
  left: 110px;
  font-weight: 300;
  color: #ffd600;
  font-size: 10px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-40 {
  position: absolute;
  top: 450px;
  left: 331px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #ffd600;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-41 {
  top: 426px;
  left: 179px;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-42 {
  top: 74px;
  left: 162px;
  font-weight: 400;
  font-size: 15px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-43 {
  top: 74px;
  left: 264px;
  font-weight: 500;
  font-size: 15px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .line-4 {
  position: absolute;
  width: 170px;
  height: 1px;
  top: 50px;
  left: 21px;
  object-fit: cover;
}

.element .line-5 {
  position: absolute;
  width: 134px;
  height: 1px;
  top: 95px;
  left: 21px;
  object-fit: cover;
}

.element .line-6 {
  position: absolute;
  width: 102px;
  height: 1px;
  top: 95px;
  left: 155px;
  object-fit: cover;
}

.element .line-7 {
  position: absolute;
  width: 102px;
  height: 1px;
  top: 95px;
  left: 257px;
  object-fit: cover;
}

.element .line-8 {
  position: absolute;
  width: 1px;
  height: 193px;
  top: 74px;
  left: 155px;
  object-fit: cover;
}

.element .line-9 {
  position: absolute;
  width: 1px;
  height: 193px;
  top: 74px;
  left: 257px;
  object-fit: cover;
}

.element .line-10 {
  position: absolute;
  width: 364px;
  height: 1px;
  top: 444px;
  left: 24px;
  object-fit: cover;
}

.element .line-11 {
  position: absolute;
  width: 1px;
  height: 8px;
  top: 452px;
  left: 146px;
  object-fit: cover;
}

.element .line-12 {
  position: absolute;
  width: 1px;
  height: 8px;
  top: 452px;
  left: 286px;
  object-fit: cover;
}

.element .line-13 {
  position: absolute;
  width: 1px;
  height: 8px;
  top: 428px;
  left: 124px;
  object-fit: cover;
}

.element .line-14 {
  position: absolute;
  width: 1px;
  height: 8px;
  top: 452px;
  left: 200px;
  object-fit: cover;
}

.element .line-15 {
  position: absolute;
  width: 130px;
  height: 1px;
  top: 236px;
  left: 20px;
  object-fit: cover;
}

.element .group-2 {
  position: absolute;
  width: 468px;
  height: 483px;
  top: 600px;
  left: 1040px;
}

.element .overlap-2 {
  position: absolute;
  width: 408px;
  height: 483px;
  top: 0;
  left: 0;
  border-radius: 18px;
}

.element .ellipse-5 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 27px;
  left: 98px;
  background-color: #ff0000;
  border-radius: 4.5px;
}

.element .text-wrapper-44 {
  top: 180px;
  left: 162px;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-45 {
  top: 199px;
  left: 162px;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-46 {
  position: absolute;
  width: 125px;
  top: 180px;
  left: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-47 {
  position: absolute;
  width: 125px;
  top: 199px;
  left: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-48 {
  position: absolute;
  top: 251px;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ff0000;
  font-size: 5px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-49 {
  position: absolute;
  top: 450px;
  left: 102px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #ff0000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-50 {
  top: 426px;
  left: 110px;
  font-weight: 300;
  color: #ff0000;
  font-size: 10px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-51 {
  position: absolute;
  top: 450px;
  left: 331px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #ff0000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .line-16 {
  position: absolute;
  width: 363px;
  height: 1px;
  top: 860px;
  left: 6026px;
  object-fit: cover;
}

.element .line-17 {
  position: absolute;
  width: 7px;
  height: 1px;
  top: 869px;
  left: 6149px;
  object-fit: cover;
}

.element .line-18 {
  position: absolute;
  width: 7px;
  height: 1px;
  top: 869px;
  left: 6289px;
  object-fit: cover;
}

.element .line-19 {
  position: absolute;
  width: 7px;
  height: 1px;
  top: 845px;
  left: 6127px;
  object-fit: cover;
}

.element .line-20 {
  position: absolute;
  width: 7px;
  height: 1px;
  top: 869px;
  left: 6203px;
  object-fit: cover;
}

.element .overlap-wrapper {
  position: absolute;
  width: 486px;
  height: 477px;
  top: 94px;
  left: 1037px;
}

.element .overlap-3 {
  position: relative;
  width: 408px;
  height: 477px;
  border-radius: 18px;
}

.element .ellipse-6 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 27px;
  left: 96px;
  background-color: #23ff00;
  border-radius: 4.5px;
}

.element .rectangle-2 {
  position: absolute;
  width: 408px;
  height: 477px;
  top: 0;
  left: 0;
  border-radius: 18px;
  border: 4px solid;
  border-color: #0081f8;
}

.element .text-wrapper-52 {
  top: 181px;
  left: 162px;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-53 {
  top: 200px;
  left: 162px;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-54 {
  top: 219px;
  left: 162px;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-55 {
  top: 246px;
  left: 162px;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-56 {
  position: absolute;
  top: 246px;
  left: 264px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-57 {
  position: absolute;
  width: 125px;
  top: 181px;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-58 {
  position: absolute;
  width: 125px;
  top: 200px;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-59 {
  position: absolute;
  width: 125px;
  top: 219px;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-60 {
  position: absolute;
  width: 125px;
  top: 238px;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-61 {
  top: 339px;
  left: 21px;
  font-weight: 400;
  color: #575757;
  font-size: 7px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-62 {
  top: 350px;
  left: 21px;
  font-weight: 400;
  color: #575757;
  font-size: 5px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-63 {
  position: absolute;
  top: 350px;
  left: 37px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #575757;
  font-size: 5px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-64 {
  position: absolute;
  top: 350px;
  left: 73px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #575757;
  font-size: 5px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-65 {
  position: absolute;
  top: 350px;
  left: 100px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #575757;
  font-size: 5px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-66 {
  position: absolute;
  top: 357px;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #575757;
  font-size: 5px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-67 {
  top: 426px;
  left: 24px;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-68 {
  position: absolute;
  top: 426px;
  left: 134px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-69 {
  position: absolute;
  top: 450px;
  left: 104px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #23ff00;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-70 {
  top: 426px;
  left: 111px;
  font-weight: 300;
  color: #05ff00;
  font-size: 10px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-71 {
  position: absolute;
  top: 450px;
  left: 331px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #23ff00;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-72 {
  top: 426px;
  left: 180px;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-73 {
  top: 74px;
  left: 162px;
  font-weight: 500;
  font-size: 15px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .line-21 {
  position: absolute;
  width: 1px;
  height: 290px;
  top: 74px;
  left: 155px;
  object-fit: cover;
}

.element .line-22 {
  position: absolute;
  width: 1px;
  height: 290px;
  top: 74px;
  left: 257px;
  object-fit: cover;
}

.element .line-23 {
  position: absolute;
  width: 1px;
  height: 8px;
  top: 428px;
  left: 126px;
  object-fit: cover;
}

.element .line-24 {
  position: absolute;
  width: 130px;
  height: 1px;
  top: 334px;
  left: 20px;
  object-fit: cover;
}

.element .imeruli-khachapuri {
  position: absolute;
  top: 696px;
  left: 60px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .garlic-bread-table {
  position: absolute;
  top: 721px;
  left: 60px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .cheese-board-table {
  position: absolute;
  top: 746px;
  left: 60px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .chikhirtma-table {
  position: absolute;
  top: 771px;
  left: 60px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .chikhirtma-table-2 {
  position: absolute;
  top: 796px;
  left: 60px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .line-25 {
  position: absolute;
  width: 272px;
  height: 1px;
  top: 682px;
  left: 36px;
  object-fit: cover;
}

.element .line-26 {
  position: absolute;
  width: 418px;
  height: 1px;
  top: 68px;
  left: 36px;
  object-fit: cover;
}

.element .line-27 {
  position: absolute;
  width: 889px;
  height: 1px;
  top: 620px;
  left: 36px;
  object-fit: cover;
}

.element .line-28 {
  position: absolute;
  width: 272px;
  height: 1px;
  top: 68px;
  left: 1040px;
  object-fit: cover;
}

.element .ellipse-7 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 703px;
  left: 40px;
  background-color: #000000;
  border-radius: 3px;
}

.element .ellipse-8 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 728px;
  left: 40px;
  background-color: #000000;
  border-radius: 3px;
}

.element .ellipse-9 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 753px;
  left: 40px;
  background-color: #000000;
  border-radius: 3px;
}

.element .ellipse-10 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 778px;
  left: 40px;
  background-color: #000000;
  border-radius: 3px;
}

.element .ellipse-11 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 803px;
  left: 40px;
  background-color: #000000;
  border-radius: 3px;
}

.element .overlap-group-wrapper {
  position: absolute;
  width: 101px;
  height: 30px;
  top: 97px;
  left: 750px;
}

.element .div-wrapper {
  position: relative;
  width: 99px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #313131;
}

.element .text-wrapper-74 {
  position: absolute;
  top: 8px;
  left: 12px;
  opacity: 0.7;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 9px;
  letter-spacing: 0;
  line-height: normal;
}

.element .group-3 {
  position: absolute;
  width: 109px;
  height: 35px;
  top: 152px;
  left: 481px;
}

.element .overlap-4 {
  position: relative;
  width: 107px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #313131;
}

.element .text-wrapper-75 {
  position: absolute;
  top: 8px;
  left: 14px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .group-4 {
  position: absolute;
  width: 119px;
  height: 35px;
  top: 152px;
  left: 603px;
}

.element .overlap-5 {
  position: relative;
  width: 117px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #313131;
}

.element .text-wrapper-76 {
  position: absolute;
  top: 8px;
  left: 13px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.element .group-5 {
  position: absolute;
  width: 103px;
  height: 35px;
  top: 152px;
  left: 735px;
}

.element .overlap-6 {
  position: relative;
  width: 101px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #313131;
}

.element .group-6 {
  position: absolute;
  width: 103px;
  height: 35px;
  top: 242px;
  left: 481px;
}

.element .group-7 {
  position: absolute;
  width: 154px;
  height: 35px;
  top: 197px;
  left: 481px;
}

.element .overlap-7 {
  position: relative;
  width: 152px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #313131;
}

.element .group-8 {
  position: absolute;
  width: 124px;
  height: 35px;
  top: 197px;
  left: 644px;
}

.element .overlap-8 {
  position: relative;
  width: 122px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #313131;
}

.element .group-9 {
  position: absolute;
  width: 83px;
  height: 27px;
  top: 338px;
  left: 684px;
}

.element .overlap-9 {
  position: relative;
  width: 81px;
  height: 27px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #c80000;
}

.element .text-wrapper-77 {
  position: absolute;
  width: 57px;
  top: 6px;
  left: 13px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 11px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .line-29 {
  position: absolute;
  width: 368px;
  height: 1px;
  top: 135px;
  left: 481px;
  object-fit: cover;
}

.element .text-wrapper-78 {
  position: absolute;
  top: 335px;
  left: 557px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-79 {
  position: absolute;
  top: 335px;
  left: 481px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .line-30 {
  position: absolute;
  width: 2px;
  height: 14px;
  top: 344px;
  left: 660px;
}

.element .line-31 {
  position: absolute;
  width: 269px;
  height: 1px;
  top: 322px;
  left: 480px;
  object-fit: cover;
}

.element .line-32 {
  position: absolute;
  width: 1px;
  height: 983px;
  top: 29px;
  left: 971px;
  object-fit: cover;
}

.element .group-10 {
  position: absolute;
  width: 486px;
  height: 477px;
  top: 91px;
  left: 37px;
}

.element .rectangle-3 {
  position: absolute;
  width: 408px;
  height: 477px;
  top: 0;
  left: 0;
  border-radius: 18px;
  border: 2px solid;
  border-color: #000000;
}

.element .text-wrapper-80 {
  position: absolute;
  top: 110px;
  left: 410px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #d9d9d9;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .rectangle-4 {
  position: absolute;
  width: 1921px;
  height: 1030px;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.5;
}

.element .rectangle-5 {
  position: absolute;
  width: 1644px;
  height: 908px;
  top: 47px;
  left: 149px;
  background-color: #f1f1f1;
  border-radius: 16px;
}

.element .text-wrapper-81 {
  position: absolute;
  top: 73px;
  left: 183px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-82 {
  position: absolute;
  top: 151px;
  left: 183px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .line-33 {
  position: absolute;
  width: 418px;
  height: 1px;
  top: 110px;
  left: 182px;
  object-fit: cover;
}

.element .rectangle-6 {
  position: absolute;
  width: 1563px;
  height: 659px;
  top: 183px;
  left: 183px;
  background-color: #d9d9d9;
  border-radius: 9px;
}

.element .rectangle-7 {
  position: absolute;
  width: 175px;
  height: 42px;
  top: 875px;
  left: 190px;
  background-color: #d9d9d9;
  border-radius: 3px;
}

.element .rectangle-8 {
  position: absolute;
  width: 175px;
  height: 42px;
  top: 875px;
  left: 378px;
  background-color: #d9d9d9;
  border-radius: 3px;
}

.element .users {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 884px;
  left: 199px;
}

.element .text-wrapper-83 {
  top: 886px;
  left: 232px;
  font-weight: 500;
  color: #787878;
  font-size: 15px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-84 {
  position: absolute;
  top: 886px;
  left: 420px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #787878;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .id-badge {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 884px;
  left: 387px;
}

.element .rectangle-9 {
  position: absolute;
  width: 1284px;
  height: 582px;
  top: 221px;
  left: 421px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: inset 1px 1px 4px #00000040;
}

.element .group-11 {
  position: absolute;
  width: 121px;
  height: 47px;
  top: 260px;
  left: 463px;
}

.element .overlap-10 {
  position: relative;
  width: 119px;
  height: 47px;
  background-color: #0075ff;
  border-radius: 9px;
}

.element .text-wrapper-85 {
  position: absolute;
  top: 14px;
  left: 15px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .group-12 {
  position: absolute;
  width: 208px;
  height: 47px;
  top: 390px;
  left: 463px;
}

.element .overlap-11 {
  position: relative;
  width: 206px;
  height: 47px;
  background-color: #d9d9d9;
  border-radius: 9px;
}

.element .text-wrapper-86 {
  position: absolute;
  top: 14px;
  left: 15px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .group-13 {
  position: absolute;
  width: 161px;
  height: 47px;
  top: 455px;
  left: 463px;
}

.element .overlap-12 {
  position: relative;
  width: 159px;
  height: 47px;
  background-color: #d9d9d9;
  border-radius: 9px;
}

.element .text-wrapper-87 {
  position: absolute;
  top: 14px;
  left: 16px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .group-14 {
  position: absolute;
  width: 161px;
  height: 47px;
  top: 520px;
  left: 463px;
}

.element .group-15 {
  position: absolute;
  width: 88px;
  height: 47px;
  top: 585px;
  left: 463px;
}

.element .overlap-13 {
  position: relative;
  width: 86px;
  height: 47px;
  background-color: #d9d9d9;
  border-radius: 9px;
}

.element .group-16 {
  position: absolute;
  width: 122px;
  height: 47px;
  top: 650px;
  left: 463px;
}

.element .overlap-14 {
  position: relative;
  width: 120px;
  height: 47px;
  background-color: #d9d9d9;
  border-radius: 9px;
}

.element .group-17 {
  position: absolute;
  width: 218px;
  height: 47px;
  top: 715px;
  left: 463px;
}

.element .overlap-15 {
  position: relative;
  width: 216px;
  height: 47px;
  background-color: #d9d9d9;
  border-radius: 9px;
}

.element .group-18 {
  position: absolute;
  width: 199px;
  height: 47px;
  top: 325px;
  left: 463px;
}

.element .overlap-16 {
  position: relative;
  width: 197px;
  height: 47px;
  background-color: #d9d9d9;
  border-radius: 9px;
}

.element .rectangle-10 {
  position: absolute;
  width: 186px;
  height: 582px;
  top: 220px;
  left: 222px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: inset 1px 1px 4px #00000040;
}

.element .rectangle-11 {
  position: absolute;
  width: 106px;
  height: 33px;
  top: 230px;
  left: 263px;
  background-color: #d9d9d9;
  border-radius: 12.5px;
}

.element .text-wrapper-88 {
  position: absolute;
  top: 284px;
  left: 290px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-89 {
  position: absolute;
  top: 332px;
  left: 292px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-90 {
  position: absolute;
  top: 380px;
  left: 270px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-91 {
  position: absolute;
  top: 428px;
  left: 261px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-92 {
  position: absolute;
  top: 476px;
  left: 286px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-93 {
  position: absolute;
  top: 524px;
  left: 289px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-94 {
  top: 572px;
  left: 286px;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-95 {
  top: 620px;
  left: 293px;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-96 {
  position: absolute;
  top: 668px;
  left: 282px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-97 {
  position: absolute;
  top: 764px;
  left: 291px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-98 {
  position: absolute;
  top: 716px;
  left: 287px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .line-34 {
  position: absolute;
  width: 53px;
  height: 1px;
  top: 269px;
  left: 288px;
  object-fit: cover;
}

.element .line-35 {
  position: absolute;
  width: 53px;
  height: 1px;
  top: 317px;
  left: 288px;
  object-fit: cover;
}

.element .line-36 {
  position: absolute;
  width: 53px;
  height: 1px;
  top: 365px;
  left: 288px;
  object-fit: cover;
}

.element .line-37 {
  position: absolute;
  width: 53px;
  height: 1px;
  top: 413px;
  left: 288px;
  object-fit: cover;
}

.element .line-38 {
  position: absolute;
  width: 53px;
  height: 1px;
  top: 461px;
  left: 288px;
  object-fit: cover;
}

.element .line-39 {
  position: absolute;
  width: 53px;
  height: 1px;
  top: 509px;
  left: 288px;
  object-fit: cover;
}

.element .line-40 {
  position: absolute;
  width: 53px;
  height: 1px;
  top: 557px;
  left: 288px;
  object-fit: cover;
}

.element .line-41 {
  position: absolute;
  width: 53px;
  height: 1px;
  top: 605px;
  left: 288px;
  object-fit: cover;
}

.element .line-42 {
  position: absolute;
  width: 53px;
  height: 1px;
  top: 653px;
  left: 288px;
  object-fit: cover;
}

.element .line-43 {
  position: absolute;
  width: 53px;
  height: 1px;
  top: 749px;
  left: 288px;
  object-fit: cover;
}

.element .line-44 {
  position: absolute;
  width: 53px;
  height: 1px;
  top: 701px;
  left: 288px;
  object-fit: cover;
}

.element .text-wrapper-99 {
  position: absolute;
  top: 236px;
  left: 275px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .group-19 {
  position: absolute;
  width: 133px;
  height: 53px;
  top: 869px;
  left: 1618px;
}

.element .overlap-17 {
  position: relative;
  width: 131px;
  height: 53px;
  background-color: #0093ff;
  border-radius: 8px;
}

.element .text-wrapper-100 {
  top: 16px;
  left: 27px;
  font-size: 17px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.element .group-20 {
  position: absolute;
  width: 133px;
  height: 53px;
  top: 869px;
  left: 1466px;
}

.element .text-wrapper-101 {
  position: absolute;
  top: 16px;
  left: 32px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.element .rectangle-12 {
  position: absolute;
  width: 1644px;
  height: 908px;
  top: 47px;
  left: 149px;
  background-color: #00000099;
  border-radius: 16px;
}

.element .rectangle-13 {
  position: absolute;
  width: 505px;
  height: 302px;
  top: 318px;
  left: 701px;
  background-color: #d9d9d9;
  border-radius: 11px;
}

.element .text-wrapper-102 {
  top: 365px;
  left: 735px;
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-103 {
  top: 424px;
  left: 737px;
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .group-21 {
  position: absolute;
  width: 41px;
  height: 39px;
  top: 359px;
  left: 846px;
}

.element .overlap-18 {
  position: relative;
  width: 39px;
  height: 39px;
  background-color: #ffffff;
  border-radius: 4px;
}

.element .text-wrapper-104 {
  top: 7px;
  left: 10px;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.element .vector {
  top: 13px;
  position: absolute;
  width: 5px;
  height: 4px;
  left: 28px;
}

.element .vector-2 {
  top: 20px;
  position: absolute;
  width: 5px;
  height: 4px;
  left: 28px;
}

.element .line-45 {
  position: absolute;
  width: 422px;
  height: 1px;
  top: 475px;
  left: 741px;
  object-fit: cover;
}

.element .line-46 {
  position: absolute;
  width: 422px;
  height: 1px;
  top: 501px;
  left: 741px;
  object-fit: cover;
}

.element .line-47 {
  position: absolute;
  width: 422px;
  height: 1px;
  top: 527px;
  left: 741px;
  object-fit: cover;
}

.element .line-48 {
  position: absolute;
  width: 422px;
  height: 1px;
  top: 553px;
  left: 741px;
  object-fit: cover;
}

.element .group-22 {
  position: absolute;
  width: 64px;
  height: 26px;
  top: 573px;
  left: 1103px;
}

.element .overlap-19 {
  position: relative;
  width: 62px;
  height: 26px;
  background-color: #0093ff;
  border-radius: 8px;
}

.element .text-wrapper-105 {
  width: 38px;
  top: 8px;
  left: 12px;
  font-size: 8px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.element .group-23 {
  position: absolute;
  width: 45px;
  height: 26px;
  top: 573px;
  left: 1050px;
}

.element .overlap-20 {
  position: relative;
  width: 43px;
  height: 26px;
  background-color: #0093ff;
  border-radius: 8px;
}

.element .text-wrapper-106 {
  top: 8px;
  left: 12px;
  font-weight: 700;
  color: #ffffff;
  font-size: 8px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}
