.grandtotal .group-10 {
  position: absolute;
  width: 466px;
  height: 477px;
  top: 152px;
  left: 1453px;
}

.grandtotal .rectangle-7 {
  position: absolute;
  width: 408px;
  height: 477px;
  top: 0;
  left: 0;
  border-radius: 18px;
  border: 3px solid;
  border-color: #000000;
}

.grandtotal .group-11 {
  position: absolute;
  width: 466px;
  height: 477px;
  top: 139px;
  left: 30px;
}

.grandtotal .rectangle-8 {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.8;
}

.grandtotal .rectangle-9 {
  position: absolute;
  width: 531px;
  height: 358px;
  top: 338px;
  left: 726px;
  background-color: #d9d9d9;
  border-radius: 20px;
}

.grandtotal .text-wrapper-53 {
  position: absolute;
  top: 374px;
  left: 759px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.grandtotal .text-wrapper-54 {
  position: absolute;
  top: 439px;
  left: 761px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.grandtotal .text-wrapper-55 {
  top: 545px;
  left: 761px;
  font-weight: 500;
  font-size: 17px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.grandtotal .text-wrapper-56 {
  position: absolute;
  top: 439px;
  left: 998px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.grandtotal .text-wrapper-57 {
  position: absolute;
  top: 545px;
  left: 998px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.grandtotal .rectangle-10 {
  position: absolute;
  width: 205px;
  height: 52px;
  top: 468px;
  left: 762px;
  background-color: #ffffff;
  border-radius: 6px;
}

.grandtotal .rectangle-11 {
  position: absolute;
  width: 205px;
  height: 52px;
  top: 574px;
  left: 762px;
  background-color: #ffffff;
  border-radius: 6px;
}

.grandtotal .rectangle-12 {
  position: absolute;
  width: 205px;
  height: 52px;
  top: 468px;
  left: 999px;
  background-color: #ffffff;
  border-radius: 6px;
}

.grandtotal .rectangle-13 {
  position: absolute;
  width: 205px;
  height: 52px;
  top: 574px;
  left: 999px;
  background-color: #ffffff;
  border-radius: 6px;
}

.grandtotal .text-wrapper-58 {
  top: 482px;
  left: 776px;
  font-weight: 500;
  color: #000000;
  font-size: 17px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.grandtotal .text-wrapper-59 {
  top: 588px;
  left: 776px;
  font-weight: 500;
  color: #000000;
  font-size: 17px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.grandtotal .text-wrapper-60 {
  top: 482px;
  left: 1013px;
  font-weight: 500;
  color: #000000;
  font-size: 17px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.grandtotal .text-wrapper-61 {
  top: 588px;
  left: 1013px;
  font-weight: 500;
  color: #000000;
  font-size: 17px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}
